body, html {
	height: 100%;	
	width: 100%;	
	background: lightblue;
	/*color: darkgray: ;*/
	margin:0;
	padding: 0;
}

nav.navbar {
	margin-bottom: 50px;
	/*line-height: 50px;*/
}

.navbar-brand.fa.fa-github {
	font-size: 	30px;
}
